.App {
  justify-content: center;
  align-items: center;
  background-image: url("./res/Starry_night_sky.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex; }

.left-aligned {
  text-align: left;
  align-items: start; }

#card-screen {
  max-width: 80vw;
  min-width: 60vw;
  max-height: 80vh;
  min-height: 60vh; }

#card {
  height: 100%;
  width: 100%;
  background-color: #ffffff33;
  color: #ffffffcc; }

#side-menu {
  color: #ffffffcc;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -20vw;
  width: 25vw;
  background-color: #ffffff66;
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
  #side-menu:hover {
    left: 0px; }
