$darkBgColor: #023252b6;
$labelColor: #00ff407e;
$darkTextColor: #ffffffcc;
$darkBgTransparentColor3: #ffffff33;
$darkBgTransparentColor6: #ffffff66;
$darkBgImage: url("./res/Starry_night_sky.png");
$lightBgImage: url("./res/Blue_sky.png");

.App {
  justify-content: center;
  align-items: center;
  background-image: $darkBgImage;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left-aligned {
  text-align: left;
  align-items: start;
}

#card-screen {
  max-width: 80vw;
  min-width: 60vw;
  max-height: 80vh;
  min-height: 60vh;
}

#card {
  height: 100%;
  width: 100%;
  background-color: $darkBgTransparentColor3;
  color: $darkTextColor;
}

#side-menu {
  color: #ffffffcc;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -20vw;
  width: 25vw;
  background-color: $darkBgTransparentColor6;
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    left: 0px;
  }
}
